*{
 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  margin-left: 10px ;
  margin-right: 10px;

}

.container{
 margin-top: 80px;
 
  background-color:rgb(167, 203, 235);
  font-size:20px;
  border-radius: 10px;

 
}
input{
  margin-bottom:8px ;
  height: 40px;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;

}

label{
  font-size: 20px;
}

.imagen{
  background-image: url("assets/img/img.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px 0 0 10px;
 
}
.terminos{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}
a{
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .container{
 
    margin-right: 20rem !important
  }
  
}